//background
$primary-background: #808080;
$secondary-background: #ffffff;
$input-background: #80808034;
$btn-background: #1286ca;
$overlay-background: rgba(0, 0, 0, 0.8);
$secondary-btn-background: #ffa500;
//border
$primary-border: #000000;
//accent
$primary-accent-background: #808080;
$btn-accent-background: #0000ff;
$secondary--btn-accent-background: #f0e68c;
//text-color
$primary-text-color: #ffffff;
