@import 'style/shared';
.ButtonActions {
  display: block;
  padding: 5px 10px;
  background-color: inherit;
  border: inherit;
  background-color: #1286ca;
  color: $secondary-btn-background;

  &:focus,
  &:hover {
    background-color: $secondary--btn-accent-background;
  }
}